<!DOCTYPE html>
<html>
<script src="angular.js"></script>
<link rel="stylesheet" href="bootstrap.min.css">
<title>Hello, world!</title>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        A:
        <input type="text" ng-model="aValue">
        B:
        <input type="text" ng-model="bValue">
        check n
        <input type="button" ng-click="checkN()" value="check n">

        <input type="button" ng-click="creatematrix()" value="matrix">

        <br> N:
        <input type="text" ng-model="findValue">
        <input type="button" ng-click="findNumber()" value="find Value">
        <br>
        
        <div class="scroll">
            <div class="row dib" ng-repeat="items in matrix track by $index">
                <div class="col " ng-repeat="item in items track by $index">
                    <button class="{{item.css}}" ng-click="startpow(item.val)">{{item.val}}</button>
                </div>
            </div>
        </div>

        <input type="button" ng-click="createMultiplicationmatrix()" value="mulmatrix">
        <input type="text" ng-model="findMulValue">
        <input type="button" ng-click="findMulNumber()" value="find Value">
        <div class="scroll">
            <div class="row dib" ng-repeat="items in mul_matrix track by $index">
                <div class="col {{item.css}}" ng-repeat="item in items track by $index">
                    {{item.val}}
                </div>
            </div>
        </div>


    </div>
    <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.firstName = "John";
        $scope.lastName = "Doe";
        $scope.matrix = [];

        $scope.startpow = function(val){
            var a = parseInt($scope.aValue);
            var b = parseInt($scope.bValue);
            var n = a*b;

            var x = parseInt(val);
            var npatratmod = (x*x) % n;
            $scope.findNumber(npatratmod.toString());
        }
        function gcd(a, b) {
            if (b) {
                return gcd(b, a % b);
            } else {
                return Math.abs(a);
            }
        }

        function pow(baza, putere, moduloN) {
            //debugger;
            if (putere === 1)
                return baza % moduloN;

            i = 1;
            var rez = baza;
            while (i * 2 < putere) {
                rez = (rez * rez) % moduloN;
                i = i * 2;
            }
            return rez * pow(baza, putere - i, moduloN) % moduloN;
        }
        $scope.creatematrix = function() {
            var a = parseInt($scope.aValue);
            var b = parseInt($scope.bValue);
            

            var n = a*b;
            console.log(n);

            var mat = [];
            for (var i = 0; i < n; i++) {
                mat[i] = [];
                mat[i][0] = {
                    val: i,
                    css: "mar"
                };
                for (var j = 0; j < n; j++) {
                    if (i === 0) {
                        mat[i][j] = {
                            val: j,
                            css: "mar"
                        }
                    } else {
                        if (j > 0) {
                            var mResult = pow(i, j, n);
                            mat[i].push({
                                val: mResult,
                                css: ""
                            });
                        }
                    }
                }
            }
            $scope.matrix = mat;
            checkMod(n);
        }
        function stepsMod(n){

        }

        function isInList(arr,nr){
        	return arr.indexOf(nr)>-1;
        }

        $scope.findNumber = function(x) {
            var txt = x || $scope.findValue;
            var txtArray = txt.trim().split(",");

            var nrToFind = txtArray.map(it => parseInt(it));

            var mat = $scope.matrix;
            var n = mat.length;

            for (var i = 0; i < n; i++) {
                for (var j = 0; j < n - 1; j++) {
                    if (isInList(nrToFind, mat[i][j].val)) {
                        mat[i][j].css = 'da';
                    } else {
                        mat[i][j].css = '';
                    }
                }
            }
        }

        $scope.findMulNumber = function() {
            var txt = $scope.findMulValue;
            var txtArray = txt.trim().split(",");

            var nrToFind = txtArray.map(it => parseInt(it));

            var mat = $scope.mul_matrix;
            var n = mat.length;

            for (var i = 0; i < n; i++) {
                for (var j = 0; j < n - 1; j++) {
                    if (isInList(nrToFind, mat[i][j].val)) {
                        mat[i][j].css = 'da';
                    } else {
                        mat[i][j].css = '';
                    }
                }
            }
        }

        $scope.createMultiplicationmatrix = function() {
            var n = $scope.nValue;
            var mat = [];
            for (var i = 0; i < n; i++) {
                mat[i] = [];
                mat[i][0] = {
                    val: i,
                    css: "mar"
                };
                for (var j = 0; j < n; j++) {
                    if (i === 0) {
                        mat[i][j] = {
                            val: j,
                            css: "mar"
                        }
                    } else {
                        if (j > 0) {
                            var mResult = (i*j) %n;
                            mat[i].push({
                                val: mResult,
                                css: ""
                            });
                        }
                    }
                }
            }
            $scope.mul_matrix = mat;
        }

        function isnOriNPlusunu(n){
            var s = Math.sqrt(n)<<0;
            if(s * (s+1) == n){
                console.log(s);
                return true;
            }else{
                return false;                               
            }
        }

        function nMinusxorixplus1(n){
            var r = [];
            var i = 2;
            var x= 1;
            while(x>0){
                x = n- (i*(i+1));
                if(x>0){
                    r.push(x);
                }
                i = i+2;
            }
            return r;
        }

        function nMinusxpatrat(n){
            var r = [];
            var i = 1;
            var x = 1;
            while(x>0){
                x =  n- (i*i);
                if(x>0){
                    r.push(x);
                    console.log(number + " " + x + " " + gcd(number,x));
                }
                i = i+1;
            }
            return r;
        }

        printArray = (arr) =>{
            var r ="";
            for(var i=0;i<arr.length;i++){
                 r+=  arr[i] + "\t"; 
            }
            console.log(r);
        }

var number = 0;
        $scope.checkN = function(){
             var a = parseInt($scope.aValue);
            var b = parseInt($scope.bValue);
            

            var n = a*b;
            console.log(n);
            number = n;
            checkMod(n);
        }   

        function checkMod(n){
        	var jumate = (n+1)/2;
        	var modJumate = (jumate*jumate)%n;
        	console.log(modJumate);
            var d = (modJumate*modJumate)%n;
            console.log(d);
            var i = 0;
            // while(d!= modJumate && i<10){
            //     d = (d*d)%n;
            //     console.log(d);
            //     i++;
            // }
            

			// var min1 =modJumate-1;
   //          for(var i=0;i<n;i++){
   //              var x = n*i + min1;
   //              if(x % 4 == 0){
   //                  console.log(i + " " + x/4);
   //                  if(isnOriNPlusunu(x/4)) {
   //                      console.log("DAAAAAAAA");
   //                  }
                    
   //              }
                
   //          }
            var a1 =  nMinusxorixplus1(n);
            var a2 =  nMinusxpatrat(modJumate);  
            printArray(a1);
            printArray(a2);
        }
    });
    </script>
</body>
<style>
.scroll {
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
    height: 600px;
    .card {
        display: inline-block;
    }
}

.dib {
    display: table-cell;
    !important;
}

.da {
    background-color: blue;
}
.mar{
	color: red;
}
.colx {
    background-color: yellow;
}
</style>

</html>